<div class="navbar">
    <h3><a  href="#" id="menu-icon">NHL Stat Center </a><i class="fa-solid fa-hockey-puck" style="color: #76abae;"></i></h3>
    <ul class="nav-links">
        <li><a href="/players">Players</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/leagues">Leagues</a></li>
        <li><a href="/scores">Scores</a></li>
        <li><a href="/standings">Standings</a></li>
    </ul>
    <div class="search-bar">
        <form action="/result" method="post">
            <input type="text" placeholder="Search.." name="search">
        </form>
    </div>
</div>