<div class="navbar">
    <h3><a  href="#" id="menu-icon">NHL Stat Center</a><i class="fa-solid fa-hockey-puck"></i></h3>
    <ul class="nav-links">
        <li><a href="/players">Players</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/leagues">Leagues</a></li>
        <li><a href="/scores">Scores</a></li>
        <li><a href="/standings">Standings</a></li>
    </ul>
    <div id="search-container">
        <form action="/results">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>