@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white-color: #EEEEEE;
    --green-color: #76ABAE;
    --dark-green-color: #31363F;
    --dark-color: #222831;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 110vh;
}

.navbar{
    z-index: 999;
    position: fixed;
    background-color: var(--dark-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

@media screen and (max-width: 1110px){
    .navbar{
        padding: 12px 15px;
        justify-content: center;
    }
}

#menu-icon {
    color: var(--white-color);
    font-family: 'exo';
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (max-width: 1110px){
    #menu-icon{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px){
    #menu-icon{
        font-size: 1rem;
        margin: 0;
    }
}

.navbar ul li {
    float: left;
    list-style-type: none;
}

.navbar ul li a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: var(--green-color);
    color: var(--dark-color);
    transition: 0.3s ease;
}


.search-bar input[type=text] {
    border: none;
    border-radius: 50px;
    background-color: var(--white-color);
    font-size: 1em;
    background-image: url('../static/images/search-solid.svg');
    background-size: 9%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

@media screen and (max-width: 1110px){
    .nav-links{
        display: none;
    }
}

@media screen and (max-width: 1110px){
    .search-bar{
        display: none;
    }
}

@media screen and (max-width: 1110px) {
    .navbar-button{
        position: absolute;
        background-image: url(../static/images/icons8-menu-100.svg);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3 ease;
    }
}

.main-content {
    position: relative;
    display: flex;
    padding: 90px 25px 25px 25px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-green-color);
    justify-content: center;
}

.main-content .game-preview-bar{
    position: absolute;
    padding: 25px;
    width: 90%;
    max-height: 10rem;
    overflow: hidden;
    background: rgba(238,238,238,0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(238,238,238,0.35);
    border-radius: 20px;
    display: flex;
}

.main-content .game-preview-bar .game-container{
    position: relative;
    background: var(--dark-green-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: var(--white-color);
    font-family: 'exo';
    max-width: 15em;
}

.main-content .game-preview-bar .game-container .game-teams{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.main-content .game-preview-bar .game-container img{
    height: 50px;
    width: 50px;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    border-radius: 50px;
}