@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white-color: #EEEEEE;
    --green-color: #76ABAE;
    --dark-green-color: #31363F;
    --dark-color: #222831;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 110vh;
}

.navbar{
    z-index: 999;
    position: fixed;
    background-color: var(--dark-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

@media screen and (max-width: 960px){
    .navbar{
        padding: 12px 15px;
    }
}

#menu-icon {
    color: var(--white-color);
    font-family: 'exo';
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar ul li {
    float: left;
    list-style-type: none;
}

.navbar ul li a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: var(--green-color);
    color: var(--dark-color);
    transition: 0.3s ease;
}


.search-bar input[type=text] {
    border: none;
    border-radius: 50px;
    background-color: var(--white-color);
    font-size: 1em;
    background-image: url('/public/static/images/search-solid.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

  