/* components/Header.module.css */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--HockeyNavyBlue);
  color: var(--WhiteSmoke);
  position: relative;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
}

.navLink {
  color: var(--WhiteSmoke);
  text-decoration: none;
  position: relative;
  padding: 10px;
}

.navLink:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--HockeyIceBlue);
  color: var(--HockeyNavyBlue);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--HockeyNavyBlue);
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink:last-child .submenu {
  display: none;
}

.navLink:hover .submenu {
  display: flex;
}

.submenuLink {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.submenuLink:hover {
  background-color: #555;
  border-radius: 3px;
}

.burger {
  display: none; /* Initially hide the burger menu */
  flex-direction: column;
  cursor: pointer;
  z-index: 2; /* Ensure the burger menu is above other content */
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.burger div.open:nth-child(1) {
  transform: rotate(45deg) translate(7.5px, 7.5px);
}

.burger div.open:nth-child(2) {
  opacity: 0;
}

.burger div.open:nth-child(3) {
  transform: rotate(-45deg) translate(7.5px, -7.5px);
}

.searchContainer {
  display: none; /* Initially hidden */
  background-color: var(--HockeyNavyBlue);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  top: 70px; /* Adjust to place below the header */
  width: 100%;
  z-index: 2;
}

.searchBar {
  background-color: var(--WhiteSmoke);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: var(--HockeyNavyBlue);
  width: 100%;
  transition: width 0.3s ease; /* Animate width change */
  opacity: 1; /* Set opacity to 1 when visible */
  visibility: visible; /* Set visibility to visible when visible */
}

.searchButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px; /* Ensure padding matches search bar */
}

.searchButton i {
  font-size: 1.2em;
}

@media (max-width: 800px) {
  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
  }

  .nav.open {
    display: flex;
  }

  .burger {
    display: flex; /* Display burger menu when nav is open */
    z-index: 3; /* Ensure burger menu is above other content */
  }

  .searchButton {
    display: flex; /* Ensure search button is displayed */
    z-index: 3;
  }

  .iconsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  .searchContainer.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchContainer {
    display: none; /* Hide search container */
  }

  .searchBar {
    display: none; /* Hide search bar */
  }
}
