:root{
  --HockeyNavyBlue: hsla(210, 100%, 12%, 1);
  --HockeyIceBlue: hsla(197, 100%, 75%, 1);
  --SteelGrey: hsla(0, 0%, 67%, 1);
  --VictoryRed: hsla(3, 100%, 61%, 1);
  --WhiteSmoke: hsla(0, 0%, 96%, 1);
  --GlassmorphBg: rgba(255, 255, 255, 0.2); /* Translucent background */
  --GlassmorphBorder: rgba(255, 255, 255, 0.4); /* Border color */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;
}


